.sedoo_search_results_container {
    display: flex;
    flex-direction: column-reverse;
}

.sedoo_search_results_container article {
    margin-bottom: 2.5em;
}

.sedoo_search_results_container article .dashicons {
    vertical-align: middle;
    margin-right: 10px;;
}

.sedoo_search_results_container .group-content {
    background: #eee;
    padding: 3px 10px;
    margin-top: 1em;
}
.sedoo_search_results_container .hidded {
    display: none;
}

.sedoo_search_results_container .visible {
    display: block;
}

.sedoo_search_buttons {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 1em;
    margin-top: 1em;
}



.sedoo_search_buttons div {
    cursor: pointer;
    background: #eee;
    flex: 1;
    text-align: center;
    padding: 10px 15px;
}

.sedoo_search_buttons div.flex-1 {
    order: 1; /* default is 0 */
}

.sedoo_search_buttons div.flex-2 {
    order: 2; /* default is 0 */
}
.sedoo_search_buttons div.flex-3 {
    order: 3; /* default is 0 */
}
.sedoo_search_buttons div.flex-4 {
    order: 4; /* default is 0 */
}
.sedoo_search_buttons div.flex-5 {
    order: 5; /* default is 0 */
}
.sedoo_search_buttons div.flex-6 {
    order: 6; /* default is 0 */
}
.sedoo_search_buttons div.flex-0 {
    order: 99; /* default is 0 */
}



.sedoo_search_buttons div:hover, 
.sedoo_search_buttons div.active {
    background:#d7d6d6;
}


.sedoo_search_taxo li {
    display: inline;
}

.sedoo_search_taxo li a{
    background: #ecebeb;
    padding: 2px 10px;
    font-size: 0.8em;
    border-radius: 6px;
    margin-right: 10px;
}

.sedoo_search_toggle_excerpt {
    cursor: pointer;
    font-size: 0.9em;
}

.excerpt_displayed span {
    transform:rotate(180deg); 
    transition: all 0.2s ease-in;
}

/* ajout css pour theia */
.sedoo_search_results .group-content .entry-content {
    margin-top: 3px;
}

.sedoo_search_taxo {
    margin:0;
    padding:0;
}

.sedoo_infiniteloader {
    height: auto;
    text-align: center;
    padding: 2em;
    background: #f2f2f2;
}

.sedoo_infiniteloader::before{
    content: 'a ';
    height: 100px;
    width: 100px;
    background-image: url('../img/loader.svg');
    background-size: 100px 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: transparent;
    margin-bottom: 1.5em;
}

.hide {
    display: none;
}

#scrolldetect {
    height: 150px;;
}

.sedoo_search_form label{
display: block;
}

.sedoo_search_form .input {
    width: calc(100% - 150px);
    height: 40px;
}

.sedoo_search_form .submit {
    width: 145px;
    height: 40px;
    margin: 20px 0 40px;
}

@media screen and (max-width: 640px) {
    .sedoo_search_form .input,
    .sedoo_search_form .submit {
        width: 100%;
    }
  }